{% extends 'v2/layout.html' %}
{% block title %}Monitor{% endblock %}
{% block content %}
<h1 class="mb-4">System Monitor (MOCK)</h1>
<ul class="list-group" id="status">
  <li class="list-group-item">Temperature (MOCK): <span id="temperature"></span> °C</li>
  <li class="list-group-item">Suit Temperature (MOCK): <span id="suit_temperature"></span> °C</li>
  <li class="list-group-item">Voltage (MOCK): <span id="voltage"></span> V</li>
  <li class="list-group-item">Cooling (MOCK): <span id="cooling_status"></span></li>
  <li class="list-group-item">Fans (MOCK): <span id="fans"></span></li>
</ul>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='monitor.js') }}"></script>
{% endblock %}
