{% extends 'v2/layout.html' %}
{% block title %}Monitor{% endblock %}
{% block content %}
<h1 class="mb-4">System Monitor</h1>
<ul class="list-group" id="status">
  <li class="list-group-item">Temperature: <span id="temperature"></span> °C</li>
  <li class="list-group-item">Suit Temperature: <span id="suit_temperature"></span> °C</li>
  <li class="list-group-item">Voltage: <span id="voltage"></span> V</li>
  <li class="list-group-item">Cooling: <span id="cooling_status"></span></li>
  <li class="list-group-item">Fans: <span id="fans"></span></li>
</ul>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='monitor.js') }}"></script>
{% endblock %}
