{% extends 'v2/layout.html' %}
{% block title %}Pi Telemetry{% endblock %}
{% block content %}
<h1 class="mb-4">Raspberry Pi Telemetry</h1>
<div class="row g-4">
  <div class="col-md-6">
    <h2 class="telemetry-value" id="cpuTempValue">--</h2>
    <canvas id="cpuTempChart" height="200"></canvas>
  </div>
  <div class="col-md-6">
    <h2 class="telemetry-value" id="cpuFreqValue">--</h2>
    <canvas id="cpuFreqChart" height="200"></canvas>
  </div>
  <div class="col-md-6">
    <h2 class="telemetry-value" id="cpuUsageValue">--</h2>
    <canvas id="cpuUsageChart" height="200"></canvas>
  </div>
  <div class="col-md-6">
    <h2 class="telemetry-value" id="memValue">--</h2>
    <canvas id="memChart" height="200"></canvas>
  </div>
  <div class="col-md-6">
    <h2 class="telemetry-value" id="diskValue">--</h2>
    <canvas id="diskChart" height="200"></canvas>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='pi-telemetry.js') }}"></script>
{% endblock %}
