{% extends 'v2/layout.html' %}
{% block title %}Sensors{% endblock %}
{% block content %}
<h1 class="mb-4">Sensors</h1>
<ul class="list-group" id="sensor-data">
  <li class="list-group-item">Temperature: <span id="temperature">--</span> °C</li>
  <li class="list-group-item">Bus Voltage: <span id="bus_voltage">--</span> V</li>
  <li class="list-group-item">Shunt Voltage: <span id="shunt_voltage">--</span> V</li>
  <li class="list-group-item">Current: <span id="current">--</span> mA</li>
  <li class="list-group-item">Power: <span id="power">--</span> mW</li>
</ul>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='sensors.js') }}"></script>
{% endblock %}
