{% extends 'v2/layout.html' %}
{% block title %}Voltage Control{% endblock %}
{% block content %}
<h1 class="mb-4">Voltage Control</h1>

{% set sensors = {
  'V3 Line': 'vs_v3_',
  'V5 Line': 'vs_v5_',
  'V5 Pi Brain': 'vs_v5pi_',
  'V24 Line': 'vs_v24_'
} %}

{% for name,prefix in sensors.items() %}
<div class="card mb-3">
  <div class="card-header">{{ name }}</div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Voltage: <span id="{{ prefix }}voltage">--</span> V</li>
    <li class="list-group-item">Current: <span id="{{ prefix }}current">--</span> A</li>
    <li class="list-group-item">Power: <span id="{{ prefix }}power">--</span> W</li>
    <li class="list-group-item">Status: <span id="{{ prefix }}status">off</span></li>
  </ul>
</div>
{% endfor %}
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='voltage.js') }}"></script>
{% endblock %}
